@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "";
}
@model Zencareservice.Models.Signup

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/my-login.css">
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/images/signin-zencare.png" alt="zencareservice_logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Forgot Password</h4>
                            <form method="POST" class="my-login-validation" asp-action="DocForgot" asp-controller="Account" novalidate="">
                                <div class="form-group">
                                    <label asp-for="Email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" asp-for="Email" required autofocus>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="form-text text-muted">
                                        By clicking "Reset Password" we will send a OTP and need to verify!
                                    </div>
                                </div>
                                <input type="hidden" name="SourcePage" value="@ViewData["Title"]" />

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/my-login.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var swalMessage = '@TempData["SwalMessage"]';
            var swalType = '@TempData["SwalType"]';

            if (swalMessage !== '') {
                Swal.fire({
                    icon: swalType,
                    title: swalMessage,
                    showConfirmButton: false,
                    timer: 1500 // Adjust the timer as needed
                });
            }

            // Add this block to trigger SweetAlert for "UserAlready Exists"
            var message = '@ViewBag.Message';
            if (message === 'InvalidEmail') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'User not exists!'
                });
            }
        });

        $(document).ready(function () {
            var message = '@ViewBag.Message';
            if (message === 'OTP Sent') {
                toastr.success('OTP sent successfully to registered email!');
            }
        });
    </script>

</body>
</html>
