@{
	ViewData["Title"] = "PatientRegister";
	Layout = "";
}
@model Zencareservice.Models.Signup

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="PatientRegister">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Patient Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/my-login.css">
	<link rel="icon" type="image/x-icon" href="~/assets/img/favicon.png">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="~/images/signin-zencare.png" alt="Zencareservicelogo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title" style="text-align:center">PATIENT REGISTER</h4>
							<h5 style="color:red"> @ViewBag.Message</h5>
							<form method="POST" class="my-login-validation" novalidate="" asp-action="PatientRegister" asp-controller="Account">							
								<div class="form-group">
									<label asp-for="Firstname">First Name</label>
									<input id="firstname" type="text" class="form-control" asp-for="Firstname" minlength="4" maxlength="16" required autofocus />
										<span asp-validation-for="Firstname" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Lastname"> Last Name</label>
									<input type="text" class="form-control" asp-for="Lastname" id="lastname" minlength="4" maxlength="16" required autofocus />
										<span asp-validation-for="Lastname" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" asp-for="Email"   required />
										<span asp-validation-for="Email" class="text-danger"></span>									
								</div>

								<div class="form-group">
									<label asp-for="Password"> Password</label>
									<input id="password" type="password" class="form-control" asp-for="Password"  required data-eye />
										<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Confirmpassword"> Confirm Password</label>
									<input type="password" class="form-control" asp-for="Confirmpassword" id="confirmpassword" required data-eye />
										<span asp-validation-for="Confirmpassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Username">UserName</label>
									<input id="username" type="text" class="form-control" asp-for="Username" required />
										<span asp-validation-for="Username" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Phonenumber">Phoneno</label>
									<input type="tel" class="form-control" asp-for="Phonenumber" id="phonenumber" required maxlength="10" pattern="\d{10}" />
									<span asp-validation-for="Phonenumber" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label asp-for="Dob">Dob</label>
									<input id="dob" type="date" class="form-control" asp-for="Dob" name="Dob" required />
										<span asp-validation-for="Dob" class="text-danger"></span>
								</div>
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required /">
										<label for="agree" class="custom-control-label">I agree to the <a href="~/forms/termsofservice.html" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a></label>
										<div class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
										<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">Register</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a asp-action="PatientLogin" asp-controller="Account">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Zencareservice
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal" id="termsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:azure">
					<h2 class="modal-title">Terms of Service</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="custom-close-btn">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="background-color:azure">

					<h5>Zencareservice System Portal Privacy Policy</h5>

					<p>Effective Date: Nov 25, 2022</p>
					<p>Revised Date: Dec 2, 2024</p>

					<h5>Overview</h5>

					<p>We are committed to protecting your privacy and the security of the information you entrust with us. This privacy policy (Policy) discloses our information gathering and dissemination practices. Your use of Zencareservice System Portal is governed by the terms of this Policy, and by using or accessing Zencareservice System Portal you agree to be bound by it.</p>

					<h5>How the Health Information in Zencareservice System Portal is Obtained</h5>

					<p>Zencareservice System Portal provides a view into your Electronic Medical Record (EMR) which is maintained by us and also allows us to communicate securely with you. The information available for you to view through Zencareservice System Portal is not a comprehensive view of all the data in your EMR.</p>

					<p>Zencareservice System Portal maintains limited information about you, such as your name, date of birth, and medical record number. Your personal health information is not separately maintained or managed through Zencareservice System Portal.</p>

					<p>Zencareservice System Portal uses your Cerner Health account to confirm your identity when you sign into Zencareservice System Portal. Cerner Health is a personal health record service and is subject to its own Terms of Use and Privacy Policy.</p>

					<h5>Information You Contribute to Zencareservice System Portal</h5>

					<p>When you enter information in Zencareservice System Portal, that information is stored in your EMR where it is accessible to members of your care team and staff. Information that becomes a part of your EMR remains in your EMR even if you stop using Zencareservice System Portal.</p>

					<h5>Sharing Your Personal Health Information</h5>

					<p>If you share information available through Zencareservice System Portal with another individual, you acknowledge and accept responsibility for your decision to provide them access to potentially sensitive information.</p>

					<h5>How Information is Collected and Used</h5>

					<p>Zencareservice System Portal collects certain information from you in three ways: (i) from web server logs, (ii) with cookies and web analytics tools, and (iii) directly from you.</p>

					<h5>(a) IP Addresses (Server Log Information)</h5>

					<p>An IP address is a number automatically assigned to your computer whenever you access the Internet. All computer identification on the Internet is conducted with IP addresses, which allow computers and servers to recognize and communicate with each other. Zencareservice System Portal collects IP addresses in order to conduct system administration, report Aggregate Information (as defined below) to affiliates or partners, and to conduct web site analysis. Security monitoring is in place and reviewed on a constant basis in order to identify users who threaten the Zencareservice System Portal service, web site, users, clients or others.</p>

					<h5>(b) Cookies and Web Analytics Tools.</h5>

					<p>Zencareservice System Portal places a text file called a 'cookie' in the browser files of your computer. Cookies are pieces of information that a website transfers to an individual's hard disk for record-keeping purposes. Zencareservice System Portal uses cookies during your online session, secure your information, and improve performance of Zencareservice System Portal. These cookies do not contain any personal information. You may disable cookies in your browser but doing so will restrict your access to only public pages and you will no longer be able to access Zencareservice System Portal. In addition to cookies, some web analytics tools used by Zencareservice System Portalplace a single-pixel GIF file

				</div>
				<div class="modal-footer" style="background-color:azure">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Accept and Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" crossorigin="anonymous"></script>
	<script src="~/js/my-login.js"></script>
	<script src="~/js/toast.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var swalMessage = '@TempData["SwalMessage"]';
			var swalType = '@TempData["SwalType"]';

			if (swalMessage !== '') {
				showSweetAlert(swalType, swalMessage);
			}

			var message = '@ViewBag.Message';
			switch (message) {
				case 'success':
					showSweetAlert('success', 'Success...', 'Account Created Successfully!');
					break;
				case 'UserAlreadyExists':
					showSweetAlert('error', 'Oops...', 'User already exists!');
					break;
				case 'InvalidEmailaddress':
					showSweetAlert('warning', 'Invalid', 'Invalid email address!');
					break;
				case 'PleaseTryAgain':
					showSweetAlert('warning', 'Oops...', 'Please try again!');
					break;
				case 'Legal':
					showSweetAlert('warning', 'AgeRestriction', 'User should be greater than 18 yrs old!');
					break;
				case 'InvalidEmail':
					showSweetAlert('error', 'Not Registered', 'Pls Register To Continue!');
					break;
			}
		});

		function showSweetAlert(icon, title, text) {
			Swal.fire({
				icon: icon,
				title: title,
				text: text,
				showConfirmButton: false,
				timer: 1500 // Adjust the timer as needed
			});
		}
	</script>
	<script>
		(function () {
			'use strict'
			var forms = document.querySelectorAll('.my-login-validation')
			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}
						form.classList.add('was-validated')
					}, false)
				})
		})()
	</script>
	<script>
		document.getElementById('phonenumber').addEventListener('input', function (e) {
			var value = e.target.value;
			e.target.value = value.replace(/\D/, ''); // Remove non-digit characters
		});
	</script>
</body>
</html>