@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "PRESCRIPTIONS";
}
@model Zencareservice.Models.Prescs

<html>

<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Gopi">
</head>

<body>
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Prescription</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a asp-action="Report" asp-controller="Report">Report</a></li>
						<li class="breadcrumb-item active"><b style="color:black">Prescription</b></li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<div class="container-fluid">
		<div class="card card-success">
			<div class="card-header">
				<h3 class="card-title">@ViewData["Title"]</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="~/Account/Presclist.cshtml" data-source-selector="#card-refresh-content" data-load-on-init="false">
						<i class="fas fa-sync-alt"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->

			<div class="card-body">

			<table id="example1" class="table table-bordered table-striped" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>PatientName</th>
					<th>PatientContactNo</th>
					<th>ConsultationNo</th>
					<th>PrescriptionOrderNo</th>				
					<th>LastVisit</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
						@if (Model != null)
						{
							@foreach (var prescription in Model.showlist1)
							{
								<tr>
									<td>@prescription.PatientFirstName</td>
									<td>@prescription.Patientphoneno</td>
									<td>@prescription.AppointmentCode</td>							
									<td>
										<a asp-action="Prscedit" asp-controller="Prescriptions" asp-route-id="@Uri.EscapeDataString(prescription.PrsCode)" class="bold-primary">@prescription.PrsCode</a>
									</td>
									<td>@prescription.Prscdate</td>
									<td><a href="#" class="badge badge-success">@prescription.Status</a></td>

								</tr>
							}
						}
						else
						{

						}
			</tbody>
		</table>

		<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Row information</h4>
					</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>


		  </div>
		</div>
	</div>
</body>
</html>
@section scripts
{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
          
    </script>
	<script type="text/javascript">
		$(document).ready(function () {
			// Check if there is a message in TempData
			var swalMessage = '@TempData["SwalMessage"]';
			var swalType = '@TempData["SwalType"]';

			// Function to display the Swal alert
			function displayAlert() {
				if (swalMessage !== '') {
					Swal.fire({
						icon: swalType,
						title: swalMessage,
						showConfirmButton: false,
						timer: 5000 // Display for 5 seconds
					});
				}
			}

			// Call the displayAlert function when the document is ready
			displayAlert();
		});
	</script>
	}